body{
    background-color: #efefef !important;
}

.single-blog{
    box-shadow: 0px 0px 20px 1px(0,0,0,0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}

.single-blog img{
    width: 100%;
}

.blog-meta{
    font-size: 14px;
    margin-bottom: 2px;
}

.single-blog span{
    float: right;
    font-size: 12px;
    color: cornflowerblue;
}

.blog-text{
    font-size: 14px;
    text-align: justify;
    word-break: break-all; 
}

.single-blog h2{
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
}

.single-blog h2 a{
    text-decoration: none;
}

.read-more-btn{
    background-image: linear-gradient(to right, #1c03b5, #5c8bef);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: none !important;
}

.read-more-btn:hover{
    background-image: linear-gradient(to right, #006417, #00b128);
    text-decoration: none;
    color: #fff;
}

.cncl-btn{
    background-image: linear-gradient(to right, #acacac, #d6d5d5);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: none !important;
}

.cncl-btn:hover{
    background-image: linear-gradient(to right, #640000, #b10000);
    text-decoration: none;
    color: #fff;
}

label{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.form-group{
    margin: 0 auto;
    float: none;
}

.form-control{
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    width: 80%;
}

.del-btn{
   margin-top: 20px;
    background-image: linear-gradient(to right, #b50303, #ef5c5c);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: none !important;
}

.del-btn:hover{
    background-image: linear-gradient(to right, #646200, #b1ae00);
    text-decoration: none;
    color: #fff;
}